figure{

	margin: 0 0;
}

p{
	text-align: center;
}

body{

	margin: 0 0;
}

#menu{

	width: 100%;
	height: 5%;
	background-color: rgb(165,215,222);
}

#home{

	height: 100%;
	width: 3%;
	position: relative;
	float:left;
	background-color: rgb(57,182,176); 
}

.img_menu{

	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	margin-left: 3%;
}

#tw{

	height: 100%;
	width: 3%;
	position: relative;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#fb{

	height: 100%;
	width: 3%;
	position: relative;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#container1{

	width: 100%;
	height: 39%;
	background-color: rgb(136,205,210);
}

#logo{

	height: 100%;
	width: 57%;
	position: relative;
	margin: 0 auto;
	background-color: rgb(136,205,210);
}

#img_logo{

	height: 37%;
	margin-left: 24%;
	margin-top: 2%;
}

#img_fb{

	max-height: 100%;
	max-width: 100%;
	margin: 7 16;
}

#img_tw{

	max-height: 100%;
	max-width: 100%;
	margin: 8 8;
}

#container2{

	width: 100%;
	height: 39%;
	background-color: rgb(57,182,176);
}

#instructions{

	height: 100%;
	width: 57%;
	position: relative;
	margin: 0 auto;
	background-color: rgb(57,182,176);
}

.internal{

	height: 100%;
	width: 25%;
	position: relative;
	float: left;
	background-color: rgb(57,182,176);
}

#GH{

	margin-top: 32%;
}

#internal_github{

	height: 44%;
	margin-left: 29%;
	margin-top: 7%;
}

#code{

	margin-top: 27%;
}

#internal_code{

	height: 36%;
	margin-left: 20%;
	margin-top: 12%;
	margin-bottom: 10%;
}

#cloud{

	margin-top: 31%;
}

#internal_cloud{

	height: 44%;
	margin-left: 29%;
	margin-top: 7%;
}

#twitter{

	margin-top: 32%;
}

#internal_twitter{

	height: 43%;
	margin-left: 29%;
	margin-top: 7%;
}

.internalText{

	font-size: smaller;
	padding: 5%;
}

#container3{

	width: 100%;
	height: 30%;
	background-color: rgb(136,205,210);
}

#awards{

	height: 100%;
	width: 50%;
	position: relative;
	margin: 0 auto;
	background-color: red;
}

footer{

	width: 100%;
	height: 23%;
	background-color: rgb(51,51,51);
}

#contacts{

	width: 100%;
	height: 82%;
	background-color: rgb(0,0,0);
}