figure{

	margin: 0 0;
}

html{

	font-family: Source Sans Pro;
}

body{

	margin: 0 0;
}

.account_text{

	text-align: center;
	font-size: 16px;
	font-family: Source Sans Pro;
}

/*mobile*/
@media screen and (min-width: 300px) and (max-width: 500px){

#menu{

	width: 100%;
	height: 75px;
	background-color: rgb(165,215,222);
}

#home{

	height: 75px;
	width: 76px;
	float:left;
	background-color: rgb(57,182,176); 
}

#tw{

	height: 75px;
	width: 76px;
	float:right;
}

#img_tw_white{

	float: left;
	margin: auto;
}

#fb{

	height: 75px;
	width: 76px;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#accounts{

	position: absolute;
	background-color: white;
	height: 151px;
	width: 262px;
	z-index: 1;
	margin-left: 29px;
	margin-top: 274px;
}

#img_GH{

	float: left;
	margin-left: 43px;
}

#img_TW{

	float: left;
	margin-left: 43px;
}

.text_account{

	width: 189px;
 	margin-top: 20px;
}

#container1{

	width: 100%;
	height: 350px;
	background-color: rgb(136,205,210);
}

#logo{

	height: 350px;
	width: 320px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
	text-align: center;
}

#img_logo{

	height: 74px;
	margin-top: 34px;
}

#logo_text{

	width: 320px;
	padding-left: 0;
	padding-right: 0;
}
#container2{

	width: 100%;
	height: 973px;
	background-color: rgb(57,182,176);
}

#instructions{

	height: 973px;
	width: 320px;
	margin: 0 auto;
	background-color: rgb(57,182,176);
}

.internal{

	height: 224px;
	width: 320px;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#internal_GH{

	height: 280px;
	text-align: center;
}

#GH{

	margin-top: 0px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_github{

	display: none;
}

#mobile_github{

	margin-top: 127px;
}

#code{

	margin-top: 63px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_code{

	display: none;
}

#cloud{

	margin-top: 65px;
	padding-left: 55px;
	padding-right: 55px;
}

#internal_cloud{

	display: none;
}

#twitter{

	margin-top: 66px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_twitter{

	display: none;
}

.internalText{

	text-align: center;
	font-size: 16px;

}

#container3{

	width: 100%;
	height: 546px;
	background-color: rgb(136,205,210);
}

#awards{

	width: 320px;
	height: 546px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
}

#premi{

	background-color: rgb(136,205,210);
	width: 107px;
	height: 118px;
	margin: 0 auto;
}

#first{

	margin-top: 22px;
	text-align: center;
}

#second{

	text-align: center;
	margin-top: 50px;
}

footer{

	width: 100%;
	height: 256px;
	background-color: rgb(51,51,51);
}

#contacts{

	width: 100%;
	height: 188px;
	background-color: rgb(0,0,0);
}

#contenitore{

	margin: 0 auto;
	height: 188px;
	width: 320px;
	background-color: rgb(0,0,0);
}

#img_tmb{

	width: 165px;
	float: left;
	padding-left: 5px;
}

#tmb{

	margin-top: 29px;
}

#site{

	width: 165px;
	float: left;
}

#mail{

	width: 165px;
	float: left;
}

#contatto_site{

	margin-top: 30px; 
	color: white;
	padding-left: 5px;
}

#contatto_mail{

	margin-top: 18px; 
	color: white;
	padding-left: 5px;
}

.white{

	text-align: center;
	color:  white;
	width: 278px;
	padding-left: 15%;
}

}



/*500 > risoluzione < 975*/

@media screen and (min-width: 500px) and (max-width: 975px){

#menu{

	width: 100%;
	height: 75px;
	background-color: rgb(165,215,222);
}

#home{

	height: 100%;
	width: 76px;
	float:left;
	background-color: rgb(57,182,176); 
}

#tw{

	height: 100%;
	width: 76px;
	float:right;
}

#fb{

	height: 100%;
	width: 76px;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#accounts{

	position: absolute;
	background-color: white;
	height: 150px;
	width: 262px;
	z-index: 1;
	margin-left: -131px;
	margin-top: 336px;
	left: 50%;
}

#img_GH{

	float: left;
	margin-left: 32px;
}

#img_TW{

	float: left;
	margin-left: 32px;
}

.text_account{

	width: 189px;
 	margin-top: 20px;
}

#container1{

	max-width: 100%;
	height: 410px;
	background-color: rgb(136,205,210);
}

#logo{

	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(136,205,210);
	text-align: center;
}

#img_logo{

	margin-top: 25px;
	height: 110px;
}

#logo_text{

	padding-right: 10%;
	padding-left: 10%;
	font-family: Source Sans Pro;
	font-size: 16px;
}

#container2{

	max-width: 100%;
	height: 966px;
	background-color: rgb(57,182,176);
}

#instructions{

	height: 100%;
	width: 90%;
	margin: 0 auto;
	background-color: rgb(57,182,176);
	max-width: 1280px;
}

.internal{

	height: 483px;
	width: 50%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#internal_GH{

	height: 483px;
	width: 50%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#GH{

	margin-top: 130px;
	padding-left: 10%;
	padding-right: 10%;
}

#internal_github{

	margin-bottom: 8px;
}

#mobile_github{

	display: none;
}

#code{

	margin-top: 130px;
	padding-left: 10%;
	padding-right: 10%;
}

#internal_code{

	margin-bottom: 42px;
}

#mobile_code{

	display: none;
}

#cloud{

	margin-top: 130px;
	padding-left: 10%;
	padding-right: 10%;
}

#mobile_cloud{

	display: none;
}

#twitter{

	margin-top: 130px;
	padding-left: 10%;
	padding-right: 10%;
}

#internal_twitter{

	margin-bottom: 9px;
}

#mobile_twitter{

	display: none;
}

.internalText{

	text-align: center;
	font-size: 16px;

}

#container3{

	max-width: 100%;
	height: 344px;
	background-color: rgb(136,205,210);
}

#awards{

	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(136,205,210);
}

#premi{

	background-color: rgb(136,205,210);
	width: 109px;
	height: 118px;
	margin: 0 auto;
}

#first{

	float: left;
	margin-left: 5%;
	text-align: center;
}

#second{

	float: right;
	margin-right: 2%;
}

footer{

	width: 100%;
	height: 188px;
	background-color: rgb(51,51,51);
}

#contacts{

	width: 100%;
	height: 134px;
	background-color: rgb(0,0,0);
}

#contenitore{

	margin: 0 auto;
	height: 100%;
	width: 500px;
	background-color: rgb(0,0,0);
}

#img_tmb{

	height: 100%;
	width: 165px;
	float: left;
}

#tmb{

	margin-top: 35px;
}

#site{

	height: 100%;
	width: 165px;
	float: left;
}

#mail{

	height: 100%;
	width: 165px;
	float: left;
}

#contatto_site{

	margin-top: 48px; 
	color: white;
}

#contatto_mail{

	margin-top: 48px; 
	color: white;
}

.white{

	text-align: center;
	color:  white;
}

}



/*975 > risoluzione < 1275*/
@media screen and (min-width: 975px) and (max-width: 1274px){

#menu{

	width: 100%;
	height: 75px;
	background-color: rgb(165,215,222);
}

#home{

	height: 100%;
	width: 76px;
	float:left;
	background-color: rgb(57,182,176); 
}

#tw{

	height: 100%;
	width: 76px;
	float:right;
}

#fb{

	height: 100%;
	width: 76px;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#accounts{

	position: absolute;
	background-color: white;
	height: 150px;
	width: 262px;
	z-index: 1;
	margin-left: 40%;
	margin-top: 336px;
}

#img_GH{

	float: left;
	margin-left: 32px;
}

#img_TW{

	float: left;
	margin-left: 32px;
}

.text_account{

	width: 189px;
 	margin-top: 20px;
}

#container1{

	max-width: 100%;
	height: 410px;
	background-color: rgb(136,205,210);
}

#logo{

	height: 100%;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
	text-align: center;
}

#img_logo{

	margin-top: 25px;
}

#logo_text{

	padding-right: 180px;
	padding-left: 180px;
	font-family: Source Sans Pro;
	font-size: 16px;
}

#container2{

	max-width: 100%;
	height: 966px;
	background-color: rgb(57,182,176);
}

#instructions{

	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(57,182,176);
	max-width: 1280px;
}

.internal{

	height: 483px;
	width: 50%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#internal_GH{

	height: 483px;
	width: 50%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#GH{

	margin-top: 130px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_github{

	margin-bottom: 8px;
}

#mobile_github{

	display: none;
}

#code{

	margin-top: 130px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_code{

	margin-bottom: 42px;
}

#mobile_code{

	display: none;
}

#cloud{

	margin-top: 130px;
	padding-left: 55px;
	padding-right: 55px;
}

#mobile_cloud{

	display: none;
}

#twitter{

	margin-top: 130px;
	padding-left: 65px;
	padding-right: 65px;
}

#internal_twitter{

	margin-bottom: 9px;
}

#mobile_twitter{

	display: none;
}

.internalText{

	text-align: center;
	font-size: 16px;

}

#container3{

	max-width: 100%;
	height: 344px;
	background-color: rgb(136,205,210);
}

#awards{

	height: 100%;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
}

#premi{

	background-color: rgb(136,205,210);
	width: 109px;
	height: 118px;
	margin: 0 auto;
}

#first{

	float: left;
	margin-left: 15%;
	text-align: center;
}

#second{

	float: right;
	margin-right: 12%;
}

footer{

	width: 100%;
	height: 188px;
	background-color: rgb(51,51,51);
}

#contacts{

	width: 100%;
	height: 134px;
	background-color: rgb(0,0,0);
}

#contenitore{

	margin: 0 auto;
	height: 100%;
	width: 500px;
	background-color: rgb(0,0,0);
}

#img_tmb{

	height: 100%;
	width: 165px;
	float: left;
}

#tmb{

	margin-top: 35px;
}

#site{

	height: 100%;
	width: 165px;
	float: left;
}

#mail{

	height: 100%;
	width: 165px;
	float: left;
}

#contatto_site{

	margin-top: 48px; 
	color: white;
}

#contatto_mail{

	margin-top: 48px; 
	color: white;
}

.white{

	text-align: center;
	color:  white;
}

}

/*schermo pc 1280px*/
@media screen and (min-width: 1274px){ 

#menu{

	width: 100%;
	height: 75px;
	background-color: rgb(165,215,222);
}

#home{

	height: 100%;
	width: 76px;
	float:left;
	background-color: rgb(57,182,176); 
}

#tw{

	height: 100%;
	width: 76px;
	float:right;
}

#fb{

	height: 100%;
	width: 76px;
	float:right;
	background-color: rgb(165,215,222);
	margin: 0 0;
}

#accounts{

	position: absolute;
	background-color: white;
	height: 150px;
	width: 262px;
	z-index: 1;
	margin-left: 507px;
	margin-top: 336px;
}

#img_GH{

	float: left;
	margin-left: 32px;
}

#img_TW{

	float: left;
	margin-left: 32px;
}

.text_account{

	width: 189px;
 	margin-top: 20px;
}

#container1{

	width: 100%;
	height: 410px;
	background-color: rgb(136,205,210);
}

#logo{

	height: 100%;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
	text-align: center;
}

#img_logo{

	margin-top: 25px;
}

#logo_text{

	padding-right: 380px;
	padding-left: 350px;
	font-family: Source Sans Pro;
	font-size: 16px;
}

#container2{

	width: 100%;
	height: 483px;
	background-color: rgb(57,182,176);
}

#instructions{

	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(57,182,176);
	max-width: 1280px;
}

.internal{

	height: 100%;
	width: 25%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#internal_GH{

	height: 100%;
	width: 25%;
	float: left;
	background-color: rgb(57,182,176);
	text-align: center;
}

#GH{

	margin-top: 130px;
}

#internal_github{

	margin-bottom: 8px;
}

#mobile_github{

	display: none;
}

#code{

	margin-top: 130px;
}

#internal_code{

	margin-bottom: 42px;
}

#mobile_code{

	display: none;
}

#cloud{

	margin-top: 130px;
}

#mobile_cloud{

	display: none;
}

#twitter{

	margin-top: 130px;
}

#internal_twitter{

	margin-bottom: 9px;
}

#mobile_twitter{

	display: none;
}

.internalText{

	text-align: center;
	font-size: 16px;
	padding-left: 10%;
	padding-right: 10%;
}

#container3{

	width: 100%;
	height: 344px;
	background-color: rgb(136,205,210);
}

#awards{

	height: 100%;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgb(136,205,210);
}

#premi{

	background-color: rgb(136,205,210);
	width: 109px;
	height: 118px;
	margin: 0 auto;
}

#first{

	float: left;
	margin-left: 273px;
	text-align: center;
}

#second{

	float: right;
	margin-right: 260px;
}

footer{

	width: 100%;
	height: 188px;
	background-color: rgb(51,51,51);
}

#contacts{

	width: 100%;
	height: 134px;
	background-color: rgb(0,0,0);
}

#contenitore{

	margin: 0 auto;
	height: 100%;
	width: 500px;
	background-color: rgb(0,0,0);
}

#img_tmb{

	height: 100%;
	width: 165px;
	float: left;
}

#tmb{

	margin-top: 35px;
}

#site{

	height: 100%;
	width: 165px;
	float: left;
}

#mail{

	height: 100%;
	width: 165px;
	float: left;
}

#contatto_site{

	margin-top: 52px; 
	color: white;
}

#contatto_mail{

	margin-top: 52px; 
	color: white;
}

.white{

	text-align: center;
	color:  white;
}
}